@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}


body {
	font-family: 'Quicksand', sans-serif;
	background-color: #3F6654;
}

nav {
	text-align: right;
    padding: 30px;
	colour: white;
    background-color: #3F6654;
	position: fixed;
	width: 100%;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: large;
    padding-right: 5%;

}
nav a:hover {
    color: #39b37a; 
}


.current {
	font-weight: 600;
	color: #39B37A;
}

img {
	float: left;
	padding-top: 1px;
}


h1{
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

.main {
	padding:10%;
  	background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("https://github.com/seetil/TheFarmyard/blob/main/julian-scholl-HGJqVcbQLgk-unsplash.jpg?raw=true") no-repeat center center fixed;
 	background-size: cover;
  	height: 100%;
  	overflow: hidden;
}

.mainp {
	font-size: 2rem;
	color: white;
}

.mainfooter {
	background: white;
	position: relative;
}

.cafemain {
	background: white;
	padding:10%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */ 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:110%;
    height:auto;
    display:block;
    z-index:999;
}
.zoo {
	background: white;
	padding: 10%;
}


/* Float four columns side by side */
.cardcolumn {
  	float:left;
  	width: 33%;
  	padding: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.cardrow {margin: 0 -5px;}

/* Clear floats after the columns */
.cardrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .cardcolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.hours {
	background-color: #3F6654;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  	width: 100%; /* Full width */
  	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  	background-color: #04AA6D;
  	color: white;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  	border-radius: 5px;
 	background-color: #f2f2f2;
	padding: 10%;
	padding-top: 10%;
}

.contentleft {
	width:50%;
	float: left;
	background:white;
	padding: 10%;
}

.contentright {
	width:50%;
	float:right;
	background: white;
	padding: 10%;
}





















